@tailwind base;
@tailwind components;
@tailwind utilities;
:root {

  --black: #000000;            
  --white: #ffffff;          
  --purple: #6a0dad;        
  --purpleHover: #8544c1;     
}


body{
  background-color: var(--purple);
}